#content{
	background: #D6CFCF; 
	margin-bottom: 30px;
}
.content_head_nav{
	background: #262626 url(../img/bg-intro-seal.gif) no-repeat center 0;
	padding-bottom:87px; 
}
.content_head_nav ul{
	width: 978px;
	margin: 0 auto;
	padding-top: 20px;
	margin-bottom: 20px;
}
.content_head_nav ul li a{
	color: #6a8cb0;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 12px;
}
.content_head_nav ul li a:hover{
	text-decoration: underline;
}
.content_head_body h1{
	color: white;
	letter-spacing: 1px;
	font-family: Georgia;
	font-weight: lighter;
}
.content_body{
	position: relative;
	top: -60px;
}
.content_body li{
	float: none !important;
}
.content_body_left{
	float: left;
}
.content_body_left ul{
	width: 223px;
	background: #fff;
	padding-bottom: 5px;
}
.content_body_left ul li{
	float: none;
}
.content_body_left ul li a{
	display: block;
	color: #6c6c6c;
	text-transform: uppercase;
	width: 195px;
	padding: 13px 14px 9px 14px;
}
.a{
	background: #63212b!important;
	color: white !important;
}
.content_body_left ul li a:hover{
	text-decoration: underline;
}
.content_body_left img{
	margin:35px 0;
}
.content_body_middle{
	float: left;
	margin-left: 29px;
}
.content_body_middle_body{
	width: 434px;
	background: #fff;
	padding:20px; 
}
.content_body_middle_body h2{
	color: #363636;
	font-family: Georgia;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 20px;
}
.content_body_middle_body_body h3{
	color: #6c6c6c;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 10px;
}
.content_body_middle_body_body ul{
	padding-left: 20px;
	margin-bottom: 18px;
}
.content_body_middle_body_body li{
	list-style: disc ;
}
.content_body_middle_body_body li a{
	text-decoration: underline;
	color: #3b7ab8;
	font:normal 62.5% Helvetica, Arial, sans-serif;
	line-height: 1.5;
}
.content_body_middle_body_body li a:hover{
	color: #2d3754;
}
.content_body_right{
	float: left;
	margin-left: 29px;
	width: 223px;
}
.content_body_right_body {
	background: #fff;
	margin-bottom: 20px;
}
.content_body_right_body ul{
	padding:12px 15px;
}
.content_body_right_body ul li{
	margin-bottom: 3px;
}
.content_body_right_body ul li a{
	color: #293352;
	font-weight: bold;
	line-height: 1.0;
	font-family: Helvetica;
}
.content_body_right_body ul li a:hover{
	text-decoration: underline;
}
